<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h1 class="panel-title pull-left" style="font-size: 24px; margin: 0;">{{ (contact$ | async)?.name }}</h1>
                <div class="clearfix"></div>
                <img [src]="(contact$ | async)?.imageUrl" alt="{{ (contact$ | async)?.name }}" class="img-responsive pull-left" style="max-height: 60px;">
                <div class="pull-right">
                    <a class="btn btn-primary" [routerLink]="['/contacts', (contact$ | async)?.id, 'edit']">Edit</a>
                    <a class="btn btn-danger" (click)="onDelete()">Delete</a>
                </div>
            </div>
        <div class="panel-body">
            <div class="list-group-item clearfix">
                <div class="pull-left">
                    <p class="list-group-item-text"><strong>Email:</strong> {{ (contact$ | async)?.email }}</p>
                    <p class="list-group-item-text"><strong>Phone:</strong> {{ (contact$ | async)?.phone }}</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
